PORT=
# Variables de entorno para la configuración de la base de datos MySQL
MYSQL_HOST=
MYSQL_PORT=
MYSQL_USER=
MYSQL_PASS=
MYSQL_DATABASE=
# Variables de entorno para la configuración de JWT
ACCESS_TOKEN_KEY=  
ACCESS_TOKEN_EXPIRES_IN=
REFRESH_TOKEN_KEY= 
REFRESH_TOKEN_EXPIRES_IN=